<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>PokeRándom</title>
</head>
<body>
    <div class="container">
        <h1>PokeRándom</h1>
        <button class="boton" onclick="startPokemon()">Jugar</button>
    </div>

    <script>
        function startPokemon() {
            fetch('/start-pokemon')
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
